.myPic {
  border-radius: 8px;
  border: 2px solid white;
}

body {
  background-color: black;
  color: #ffffff;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

.btn_link {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 10.5%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: none;
  background: none;
  float: right;
  border-radius: 8px;
  border: 1px solid #00adb5;
  font-size: 14px;
}



.btn_link:hover {
  transform: 10px;
}

a {
  color: white;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 10%;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

li {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

td {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.nav-link {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 10.5%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: white;
  background: none;
  float: right;
  border: 1px solid #00adb5;
  border-radius: 8px;
  font-size: 14px;
}

.nav-link:hover {
  background: #eeeeee;
  transition: 0.2s;
  color: #393e46;
}

th {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
